{{- $config := "config" | index . | default dict -}}

{{/* Merge profile from old location */}}
{{- $config := "profile" | index . | default dict | merge $config -}}

{{- $work := promptBoolOnce $config "work" "Work" false -}}
{{- $config := $work | set $config "work" -}}

data:
{{ dict "config" $config | toYaml | trim | indent 2 }}
{{- "" }}

# ==============================================================================
# ==== Everything past this point is generated, changes will be overwritten ====
# ==============================================================================
{{ $availableThemes := list
    "catppuccin-mocha"
    "nord"
    "tokyonight-night"
-}}

{{ if and ("theme" | index $config) (not ($availableThemes | has $config.theme)) -}}
{{   fail (printf "Invalid theme '%s'. Available themes: %s." ($config.theme) ($availableThemes | keys | join ", ")) -}}
{{ end -}}

{{ $nvimFlavors := list
    "lvim"
    "nvim-custom"
    "astrovim"
-}}

{{ if and ($config | dig "nvim" "flavor" false) (not ($nvimFlavors | has $config.nvim.flavor)) -}}
{{   fail (printf "Invalid nvim flavor '%s'. Available flavors: %s, or unset for default." ($config.nvim.flavor) ($nvimFlavors | join ", ")) -}}
{{ end -}}

umask: 0o022

{{- if eq .chezmoi.os "windows" }}
interpreters:
    sh:
        command: {{ joinPath "C:\\" "Program Files" "git" "bin" "bash.exe" }}
    ps1:
        command: pwsh
        args:
            - "-NoLogo"

    cd:
        command: pwsh
{{- end  }}

# vim: set ft=none syntax=yaml ts=4 sw=4 et :
