{{- $work := promptBoolOnce (hasKey . "profile" | ternary (index . "profile")  (dict)) "work" "Work" false -}}
{{- $poshTheme := "new-theme.omp.yaml" -}}
{{- $_defaultFont := dict 
      "family" "Hack Nerd Font Mono"
      "size" (eq "windows" .chezmoi.os | ternary 11 14)
-}}
{{- $font := $_defaultFont | merge (hasKey . "font" | ternary (index . "font") (dict)) -}}

{{- $_local := ".local" -}}
{{- $_localInstall := joinPath $_local "opt" -}}
{{- $_localInstallBin := joinPath $_local "bin" -}}
{{- $_localInstallSbin := joinPath $_local "sbin" -}}
{{- $_dataHome := joinPath $_local "share" -}}
{{- $_configHome := ".config" -}}
{{- $_cacheHome := ".cache" -}}
{{- $_ipython := joinPath $_configHome "ipython" -}}
{{- $_zshConfig := joinPath $_configHome "zsh" -}}
{{- $_zshPlugins := joinPath $_zshConfig "plugins" -}}
{{- $_fzf := joinPath $_localInstall "fzf" -}}
{{- $_fzfBin := joinPath $_fzf "bin" -}}
{{- $_relativePaths := dict
      "local" $_local
      "localInstall" $_localInstall
      "localInstallBin" $_localInstallBin
      "localInstallSbin" $_localInstallSbin
      "dataHome" $_dataHome
      "configHome" $_configHome
      "cacheHome" $_cacheHome
      "ipython" $_ipython
      "zshConfig" $_zshConfig
      "zshPlugins" $_zshPlugins
      "fzf" $_fzf
      "fzfBin" $_fzfBin
-}}
{{- $_platformRelativePaths := dict }}
{{- if eq "windows" .chezmoi.os -}}
{{-   $_scoop := joinPath $_localInstall "scoop" -}}
{{-   $_bash := joinPath "C:\\" "Program Files" "git" "bin" "bash.exe" }}
{{-   $_platformRelativePaths = dict
        "scoop" $_scoop
        "bash" $_bash
-}}
{{- else if eq "linux" .chezmoi.os -}}
{{-   $_asdf := joinPath $_localInstall "asdf" -}}
{{-   $_asdfInstalls := joinPath $_asdf "installs" -}}
{{-   $_platformRelativePaths = dict
        "asdf" $_asdf
        "asdfInstalls" $_asdfInstalls
-}}
{{- else if eq "darwin" .chezmoi.os -}}
{{-   $_homebrew := "/opt/homebrew" -}}
{{-   $_platformRelativePaths = dict
        "homebrew" $_homebrew
-}}
{{- end -}}
{{- $_relativePaths = merge $_relativePaths $_platformRelativePaths }}
{{- $paths := dict -}}
{{- range $k, $v := $_relativePaths -}}
{{-   $paths = set $paths $k ($v | osIsAbs | ternary $v (joinPath $.chezmoi.homeDir $v)) -}}
{{- end -}}
{{- $paths = set $paths "relative" $_relativePaths -}}

data:
  profile:
    work: {{ $work }}
    nushell: false
  font:
    family: {{ $font.family }}
    size: {{ $font.size }}
  paths:
{{ $paths | toYaml | indent 4 }}
    unix:
{{ includeTemplate "dotfiles/.chezmoitemplates/buildUnixPaths" (dict "chezmoi" .chezmoi "paths" $paths) | indent 6 }}
  environment:
    - name: AWS_PROFILE
      action: unset
    - name: KUBECONFIG
      action: unset
    - name: GPG_TTY
      action: command
      value: tty
    - name: IPYTHONDIR
      path: true
      value: {{ $paths.ipython }}
    - name: LOCAL_INSTALL_DIR
      path: true
      value: {{ $paths.localInstall }}
      export: false
    - name: POSH_THEME
      path: true
      value: {{ joinPath $paths.configHome "oh-my-posh" $poshTheme }}
    - name: XDG_DATA_HOME
      path: true
      persist: true
      value: {{ $paths.dataHome }}
    - name: XDG_CONFIG_HOME
      path: true
      persist: true
      value: {{ $paths.configHome }}
    - name: XDG_CACHE_HOME
      path: true
      persist: true
      value: {{ $paths.cacheHome }}
{{- if "scoop" | hasKey $paths }}
    - name: SCOOP
      path: true
      persist: true
      value: {{ $paths.scoop }}
{{- end }}
{{- if "asdf" | hasKey $paths }}
    - name: ASDF_DIR
      value: {{ $paths.asdf }}
    - name: ASDF_DATA_DIR
      value: {{ $paths.asdf }}
{{- end }}
    - name: PATH
      path: true
      action: prepend
      persist: true
      value:
        - {{ $paths.localInstallBin }}
        - {{ $paths.fzfBin }}
{{- if eq "windows" .chezmoi.os }}
        - {{ joinPath $paths.scoop "apps" "git" "current" "usr" "bin" }}
{{- end }}
{{- if "homebrew" | index $paths }}
        - {{ "bin" | joinPath $paths.homebrew }}
{{- end }}

umask: 0o022

{{- if eq .chezmoi.os "windows" }}
interpreters:
  sh:
    command: {{ $paths.bash }}
  ps1:
    command: pwsh
    args:
      - "-NoLogo"

cd:
  command: pwsh
{{- end  }}
