chezmoi:template:missing-key=zero
{{ "" }}
{{- template "set-environment" (dict
        "environment" (includeTemplate "environment" . | fromYaml)
        "command" (dict
          "unset" "unset {NAME}"
          "set" "export {NAME}=\"{VALUE}\""
          "prepend" "[[ \"${NAME}\" == *\"{VALUE}\"* ]] || export {NAME}=\"{VALUE}:${NAME}\""
        )
        "convertPathsToUnix" ("windows" | eq .chezmoi.os)
    )
-}}
{{ "" }}
for f in $(find ~/.config/profile.d -maxdepth 1 -type f -name '*.sh')
do
    . $f
done
unset f
