{{- $existing := dict -}}
{{- $targetFile := joinPath .chezmoi.homeDir ".claude.json" -}}
{{- $content := "" -}}
{{- if stat $targetFile -}}
{{-   $content = output "cat" $targetFile -}}
{{-   $existing = $content | fromJson -}}
{{- end -}}
{{- if hasKey $existing "editorMode" -}}
{{- unset $existing "editorMode" | toPrettyJson }}
{{- else -}}
{{- $content -}}
{{- end -}}
