#!/usr/bin/env bash

if ! command -v asdf &>/dev/null
then
  . ~/.asdf/asdf.sh
fi

{{- range $plugin := .asdf }}
{{- if or (not (index $plugin "group")) (index $ $plugin.group) }}
{{-   $versions := default (list "latest") (index $plugin "versions") }}
asdf plugin add {{ $plugin.name }} {{ default "" (index $plugin "repo") }}
{{-   range $version := $versions }}
asdf install {{ $plugin.name }} {{ $version }}
asdf global {{ $plugin.name }} {{ index $versions 0 }}
{{-   end }}
{{- else}}
asdf plugin remove {{ $plugin.name }}
{{- end }}
{{ end }}

{{- if eq .chezmoi.os "windows" }}
echo TODO
{{- else }}
INSTALLER_PREFIX="$HOME/.local/opt" LV_BRANCH={{ .versions.lunarvim }} ~/.local/opt/sbin/install-lunarvim.sh -y --install-dependencies
{{- end }}

{{- if .devtools }}
{{-   range .versions.dotnet }}
~/.local/opt/sbin/dotnet-install.sh --channel {{ . }}
{{-   end}}
{{- end}}
