[tools]
azure-kubelogin = "latest"
neovim = "latest"
k9s = "latest"
github-cli = "latest"
helm = "latest"
lazygit = "latest"
terraform = "1.5.7"
awscli = "latest"
step = "latest"
eksctl = "latest"
terragrunt = "latest"
kubectl = "latest"
lazydocker = "latest"
python = "latest"
poetry = "latest"
uv = "latest"
{{- if "windows" | ne .chezmoi.os }}
azure-cli = "latest"
{{- end }}

[alias]
poetry = "pipx:poetry"
