[tools]
awscli = "latest"
{{- if "windows" | ne .chezmoi.os }}
azure-cli = "latest"
{{- end }}
azure-kubelogin = "latest"
eksctl = "latest"
github-cli = "latest"
go = "latest"
helm = "latest"
k9s = "latest"
kubectl = "latest"
lazydocker = "latest"
lazygit = "latest"
neovim = "latest"
python = "latest"
step = "latest"
terraform = "1.5.7"
terragrunt = "latest"

[settings]

disable_backends = [
"pipx"
]
