chezmoi:template:missing-key=zero
{{- range $name, $tool := .tools }}
{{-   if and (ne nil .completion) (or (not .group) (index $ .group)) }}

# Completion for {{ $name }}
{{-   $binary := .completion.binary | default (.completion.command | split " ")._0 }}
{{-   $eval := or (eq nil .completion.eval) .completion.eval }}
if command -v {{ $binary }} &> /dev/null
then
  {{ if $eval }}eval "$({{ end }}{{ .completion.command | replace "SHELL" "bash" }}{{ if $eval }})"{{ end }}
fi
{{-   end }}
{{- end }}
