[submodule "vim/vim/pack/main/start/vim-surround"]
	path = vim/vim/pack/main/start/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "vim/vim/pack/ide/start/vim-lsp"]
	path = vim/vim/pack/ide/start/vim-lsp
	url = https://github.com/prabirshrestha/vim-lsp
[submodule "vim/vim/pack/ide/start/asyncomplete.vim"]
	path = vim/vim/pack/ide/start/asyncomplete.vim
	url = https://github.com/prabirshrestha/asyncomplete.vim
[submodule "vim/vim/pack/ide/start/asyncomplete-lsp.vim"]
	path = vim/vim/pack/ide/start/asyncomplete-lsp.vim
	url = https://github.com/prabirshrestha/asyncomplete-lsp.vim
[submodule "vim/vim/pack/main/start/dracula"]
	path = vim/vim/pack/main/start/dracula
	url = https://github.com/dracula/vim
[submodule "vim/vim/pack/ide/start/vim-lsp-settings"]
	path = vim/vim/pack/ide/start/vim-lsp-settings
	url = https://github.com/chris468/vim-lsp-settings
