- name: AWS_PROFILE
  action: unset
- name: KUBECONFIG
  action: unset
- name: GPG_TTY
  action: command
  value: tty
- name: IPYTHONDIR
  path: true
  value: {{ joinPath .chezmoi.homeDir ".config" "ipython" }}
{{- $localInstallDir := joinPath .chezmoi.homeDir ".local" "opt" }}
- name: LOCAL_INSTALL_DIR
  path: true
  value: {{ $localInstallDir }}
  export: false
{{- $dotnetRoot := joinPath $localInstallDir "dotnet" }}
{{- if ne "windows" .chezmoi.os }}
- name: DOTNET_ROOT
  path: true
  value: {{ $dotnetRoot }}
- name: DOTNET_INSTALL_DIR
  path: true
  value: {{ $dotnetRoot }}
{{- end }}
{{- if eq "windows" .chezmoi.os }}
- name: SCOOP
  path: true
  persist: true
  value: {{ joinPath $localInstallDir "scoop" }}
{{- end }}
- name: PATH
  path: true
  action: prepend
  persist: true
  value:
    - {{ joinPath $.chezmoi.homeDir ".local" "bin" }}
    - {{ joinPath .chezmoi.homeDir ".dotnet" "tools" }}
    - {{ joinPath $localInstallDir "bin" }}
{{- if ne "windows" .chezmoi.os }}
    - {{ $dotnetRoot }}
{{- else }}
    - {{ joinPath .chezmoi.homeDir ".cargo" "bin" }}
{{- end }}
