versions:
  asdf: "v0.11.3"
  dotnet:
    - 6
    - 7
  lunarvim: "release-1.2/neovim-0.8"
  neovim:
    - "0.8.3"
    - "latest"
{{- if ne "windows" .chezmoi.os }}
  nodejs: "latest:lts"
  rust: "latest:stable"
{{- end }}

packages:
  - name: lunarvim
    package_manager: script
{{- if ne "windows" .chezmoi.os }}
    dependencies:
      - pip3
{{- end }}

  - name: chezmoi
    completions:
      chezmoi: chezmoi completion SHELL
    package_manager: other

  - name: neovim

  - name: nodejs
{{- if eq "windows" .chezmoi.os }}
    package: nodejs-lts
{{- end }}
    completions:
      node:
        bash: node --completion-bash
      npm:
{{- if eq "windows" .chezmoi.os }}
        bash: '& "C:\Program Files\Git\bin\bash.exe" -c "npm completion"'
{{- else }}
        bash: npm completion
{{- end }}

  - name: rust

  - name: awscli
{{- if eq "windows" .chezmoi.os }}
    package: aws
{{- end }}
    group: devtools
{{- if ne "windows" .chezmoi.os }}
    dependencies:
      - unzip
      - pip3
{{- end }}

  - name: azure-cli
    group: devtools
{{- if ne "windows" .chezmoi.os}}
    dependencies:
      - pip3
    dependency_check: 'export VENV="$(mktemp -d /tmp/bootstrap-dotfiles-venv-XXX)/venv" && python3 -m venv $VENV && $VENV/bin/python -m ensurepip'
{{- end }}
    completions:
      az:
{{- if eq "windows" .chezmoi.os }}
{{-   $azRoot := joinPath "$env:SCOOP" "apps" "azure-cli" "current" }}
        bash: |-
          & {{ joinPath $azRoot "python.exe" }} {{ joinPath $azRoot "scripts" "register-python-argcomplete" }} az
{{- else }}
        bash: $(dirname $(asdf which az))/venv/bin/register-python-argcomplete az
{{- end }}

  - name: github-cli
{{- if eq "windows" .chezmoi.os }}
    package: gh
{{- end }}
    group: devtools
    completions:
      gh: gh completion --shell SHELL

  - name: helm
    group: devtools
    completions:
      helm: helm completion SHELL

  - name: k9s
    group: devtools
    repo: "https://github.com/looztra/asdf-k9s"

  - name: kubectl
    group: devtools
    completions:
      kubectl: kubectl completion SHELL

{{- if eq "windows" .chezmoi.os }}
  - name: gcc

  - name: python
{{- end }}

  - name: neovim-npm
    package: neovim
    package_manager: npm

  - name: tree-sitter-cli
    package_manager: npm

  - name: pynvim
    package_manager: pip

  - name: fd-find
    package_manager: cargo

  - name: ripgrep
    package_manager: cargo
