asdf:
  version: "v0.11.3"
  package_manager: external

oh_my_posh:
  package_manager: external

dotnet:
  version: 
    - LTS
    - STS
  package_manager: script

lunarvim:
  version: "release-1.2/neovim-0.8"
  package_manager: script
{{- if ne "windows" .chezmoi.os }}
  dependencies:
    - pip3
{{- end }}

lunarvim_installer:
  version: "fc6873809934917b470bff1b072171879899a36b"
  package_manager: script

chezmoi:
  completions:
    chezmoi: chezmoi completion SHELL
  package_manager: other

neovim:
  version: 
    - "0.8.3"
    - "latest"

{{- if eq "windows" .chezmoi.os }}
nodejs-lts:
{{- else }}
nodejs:
  version: "latest:lts"
{{- end }}
  completions:
    node: node --completion-bash
    npm: npm completion

rust:
{{- if ne "windows" .chezmoi.os }}
  version: "latest:stable"
{{- end }}

{{- if eq "windows" .chezmoi.os }}
aws:
{{- else }}
awscli:
{{- end }}
  group: devtools
{{- if ne "windows" .chezmoi.os }}
  dependencies:
    - unzip
    - pip3
{{- end }}

azure-cli:
  group: devtools
{{- if ne "windows" .chezmoi.os}}
  dependencies:
    - pip3
  dependency_check: 'export VENV="$(mktemp -d /tmp/bootstrap-dotfiles-venv-XXX)/venv" && python3 -m venv $VENV && $VENV/bin/python -m ensurepip'
{{- end }}
  completions:
    az: echo $(dirname $(asdf which az))/venv/bin/register-python-argcomplete az

{{- if eq "windows" .chezmoi.os }}
gh:
{{- else }}
github-cli:
{{- end }}
  group: devtools
  completions:
    gh: gh completion --shell SHELL

helm:
  group: devtools
  completions:
    helm: helm completion SHELL

k9s:
  group: devtools
  repo: "https://github.com/looztra/asdf-k9s"

kubectl:
  group: devtools
  completions:
    kubectl: kubectl completion SHELL
