{ config, lib, pkgs, ... }: {
  config = lib.mkIf config.tiers.aws.enable {
    home.packages = with pkgs; # packages
      [
{{- includeTemplate "tools-packages" (dict "category" "aws" "manager" "nix" "chezmoi" .chezmoi) | indent 8 }}
      ];
  };
}
