{ config, lib, pkgs, ... }: {
  config = lib.mkIf config.tiers.container.enable {
    home.packages = with pkgs; # packages
      [
{{- includeTemplate "tools-packages" (dict "category" "container" "manager" "nix" "chezmoi" .chezmoi) | trimSuffix "\n" | nindent 8 }}
      ];
  };
}
