{{- if eq "linux" .chezmoi.os }}
ASDF_DIR="{{ .paths.asdf }}"
ASDF_DATA_DIR="$ASDF_DIR"
__asdf="$ASDF_DIR/asdf.sh"
if [ -f "$__asdf" ]
then
  . "$__asdf"
  . "$ASDF_DIR/completions/asdf.bash"

  __rs_env={{ joinPath .paths.rustInstall "env" | quote }}
  if [ -e "$__rs_env" ]
  then
    . "$__rs_env"
  fi
  unset __rs_env
fi

unset __asdf
{{- end }}
