{{- if eq "linux" .chezmoi.os }}
__asdf="{{ joinPath .paths.asdf "asdf.sh" }}"
if [ -f "$__asdf" ]
then
  . "$__asdf"
  . "{{ joinPath .paths.asdf "completions" "asdf.bash" }}"

  __rs_env="{{ joinPath .paths.rustInstall "env" }}"
  if [ -e "$__rs_env" ]
  then
    . "$__rs_env"
  fi
  unset __rs_env
fi

unset __asdf
{{- end }}
