chezmoi:template:missing-key=zero
{{- if eq "windows" .chezmoi.os -}}
{{-   $persisted := list -}}
{{-   range (includeTemplate "environment" . | fromYaml) -}}
{{-     if "persist" | get . | default false -}}
{{-       $persisted = . | append $persisted -}}
{{-     end -}}
{{-   end -}}
{{-   includeTemplate "set-environment" (dict
        "environment" $persisted
        "command" (dict
          "unset" "[Environment]::SetEnvironmentVariable('{NAME}', $null, 'User')"
          "set" "[Environment]::SetEnvironmentVariable('{NAME}', '{VALUE}', 'User')"
          "prepend" "& { $v = [Environment]::GetEnvironmentVariable('{NAME}', 'User') ; if (\"$v\" -NotLike '*{VALUE}*') { [Environment]::SetEnvironmentVariable('{NAME}', \"{VALUE};$v\", 'User') } }"
        )
      )
-}}
{{- end -}}
