chezmoi:template:missing-key=zero
{{- if eq "windows" .chezmoi.os }}
if (!(Get-Command scoop 2>$null)) {
  $env:SCOOP="{{ .paths.scoop }}"
  Write-Host "Installing scoop..."
  Set-ExecutionPolicy RemoteSigned -Scope CurrentUser
  Invoke-RestMethod https://get.scoop.sh | Invoke-Expression
  scoop install git
}
{{- end }}

