{{- $fzf := includeTemplate "path" (dict "path" "fzf" "unix" true "chezmoi" .chezmoi) -}}
#!/usr/bin/env bash
# fzf version: {{ (gitHubLatestRelease "junegunn/fzf").TagName }}
{{ $fzf }}/install --xdg --no-update-rc --key-bindings --completion
