{{- if ne "windows" .chezmoi.os -}}
#!/usr/bin/env bash
# password-store version: {{ .software.versions.password_store }}
make -C {{ .paths.passwordStore }} install PREFIX={{ .paths.local }}
{{- end -}}
