[alias]
	pushnew = push origin HEAD --set-upstream
	pushf = push --force-with-lease
	logd = log --pretty=format:'%C(auto)%h%d %cd%n  %aN <%ae>%n  %s%n'
	logg = log --graph
	logm = log --reverse origin/HEAD..
	bmr = !git branch -vv | grep gone | sed -e 's/^[*+]//' | awk '{ print $1 }'
	delete-remote-branch = push --delete origin
	fixup = commit --amend --no-edit
	default-branch = "!git symbolic-ref refs/remotes/origin/HEAD | sed 's@^refs/remotes/origin/@@'"
[format]
	pretty = %C(auto)%h %s%d%Creset
[fetch]
	prune = true
[pull]
	rebase = false
	ff = only
[init]
	defaultBranch = main
[credential]
	helper = {{ joinPath .paths.gitCredentialManager "git-credential-manager" }}
{{- if eq "linux" .chezmoi.os }}
  credentialStore = cache
{{- end }}
[credential "https://dev.azure.com"]
	useHttpPath = true
