{{- $config := includeTemplate "config" . | fromJson -}}
return {
  theme = "{{ $config.theme }}",
  font = {
    family = {{ $config.font.family | quote }},
    size = {{ $config.font.size }}
  },
  homedir = {{ .chezmoi.homeDir | quote }},
  os = {{ .chezmoi.os | quote }},
  ssh_domains = {
{{- range $config.ssh_hosts }}
    {
      {{- $type := eq "wezterm" ("type" | index .) | ternary "WezTerm" "None" }}
      name = "{{ .name }} ({{ eq $type "WezTerm" | ternary "Remote" "ssh" }})",
      remote_address = "{{ "host" | index . | default .name }}",
      multiplexing = "{{ $type }}",
      username = "{{ "user" | index . | default $.chezmoi.username }}",
    },
{{- end }}
  },
}
