{{- if eq "linux" .chezmoi.os -}}
__asdf_dir="$HOME/.asdf"
__asdf="$__asdf_dir/asdf.sh"
if [ -f "$__asdf" ]
then
  . "$__asdf"
  . "$__asdf_dir/completions/asdf.bash"
fi

unset __asdf
unset __asdf_dir
{{- end -}}
