__shell=$(basename $SHELL)
__fzf_path=
{{- if .realConfig.packageManager.nix.enable }}
{{- joinPath .chezmoi.homeDir ".nix-profile" "share" "fzf" }}
{{- else }}
{{- joinPath .paths.fzf "shell" }}
{{- end }}

if [[ -n "$BASH_VERSION" && -f ~/.config/fzf/fzf.bash ]]; then
	source ~/.config/fzf/fzf.bash
elif [[ -n "$ZSH_VERSION" && -f ~/.config/fzf/fzf.zsh ]]; then
	source ~/.config/fzf/fzf.zsh
fi

for cfg in completion key-bindings ; do
	if [[ -f "$__fzf_path/$cfg.$__shell" ]] ; then
		source "$__fzf_path/$cfg.$__shell"
	fi
done

unset __shell
unset __fzf_path

# vim: sw=4 ts=4 noet:
