{{- $config := includeTemplate "config" . | fromJson -}}
local os = require("os")
return {
  theme = os.getenv("CHRIS468_NVIM_THEME") or "{{ $config.theme }}",
  lockfile = lockfile,
  work = {{ .config.work }}
}
