{{- if "asdf" | hasKey .paths.relative }}
{{ .paths.relative.asdf | quote }}:
  type: git-repo
  url: "https://github.com/asdf-vm/asdf.git"
  clone:
    args:
      - "--branch"
      - "{{ .software.versions.asdf }}"
{{- end }}


