{{- $fzf := includeTemplate "path" (dict "path" "fzf" "relative" true "chezmoi" .chezmoi) -}}
{{ $fzf | quote }}:
  type: archive
  url: {{ (gitHubLatestRelease "junegunn/fzf").TarballURL }}
  stripComponents: 1
