{{- $config := includeTemplate "config" . | fromJson -}}
{{ if $config.gitCredentialManager.install -}}
{{ $gcmAssetPattern := printf "gcm-%s-%s-*[0-9].%s" 
  (.chezmoi.os | get (dict "windows" "win" "darwin" "osx") | default .chezmoi.os)
  (.chezmoi.arch | get (dict "amd64" "x64") | default .chezmoi.arch)
  (.chezmoi.os | get (dict "windows" "zip") | default "tar.gz")
-}}
{{ includeTemplate "path" (dict "path" "gitCredentialManager" "relative" true "chezmoi" .chezmoi) | quote }}:
  type: archive
  exact: true
{{- if eq .chezmoi.os "darwin" }}
  stripComponents: 2
{{- end }}
  url: {{ gitHubLatestReleaseAssetURL "git-ecosystem/git-credential-manager" $gcmAssetPattern }}
{{- end }}
