{{ if .gitCredentialManager.install -}}
{{ $gcmAssetPattern := dict
     "windows" "gcm-win-x86.*\\d\\.zip"
     "darwin" (list "gcm-osx-" .chezmoi.arch ".*\\d\\.tar.gz" | join "")
     "linux" (list "gcm-linux_" .chezmoi.arch ".*\\d\\.tar.gz" | join "")
-}}
{{ .paths.relative.gitCredentialManager | quote }}:
  type: archive
  exact: true
{{- if eq .chezmoi.os "darwin" }}
  stripComponents: 2
{{- end }}
  url: {{ template "gitHubReleaseAsset" (dict
    "repo" "git-ecosystem/git-credential-manager"
    "pattern" (.chezmoi.os | index $gcmAssetPattern)
  )
}}
{{- end }}
