{{- $config := includeTemplate "config" . | fromJson -}}
{{ if $config.gitCredentialManager.install -}}
{{ $repo := "git-ecosystem/git-credential-manager" -}}
{{ $version := (gitHubLatestRelease $repo).TagName | trimPrefix "v" -}}
{{ $gcmAssetPattern := dict
     "windows" (printf "gcm-win-x86-%s.zip" $version)
     "darwin" (printf "gcm-osx-%s-%s.tar.gz" .chezmoi.arch $version)
     "linux" (printf "gcm-linux_%s.%s.tar.gz" .chezmoi.arch $version)
-}}
{{ includeTemplate "path" (dict "path" "gitCredentialManager" "relative" true "chezmoi" .chezmoi) | quote }}:
  type: archive
  exact: true
{{- if eq .chezmoi.os "darwin" }}
  stripComponents: 2
{{- end }}
  url: {{ gitHubLatestReleaseAssetURL $repo (.chezmoi.os | index $gcmAssetPattern) }}
{{- end }}
