{{- if .defaults.packageManager.mise.install -}}
{{- $version := .defaults.packageManager.mise.version }}
{{- $sha512 := .defaults.packageManager.mise.sha512 }}
{{ joinPath .paths.relative.localInstallBin "mise" | quote }}:
  type: file
  url: https://github.com/jdx/mise/releases/download/{{ $version }}/mise-{{ $version }}-{{ .chezmoi.os }}-{{ "amd64" | eq .chezmoi.arch | ternary "x64" .chezmoi.arch }}
  executable: true
  "checksum.sha512": {{ $sha512 }}
{{- end -}}
