{{- $localInstallBin := includeTemplate "path" (dict "path" "localInstallBin" "relative" true "chezmoi" .chezmoi) -}}
{{- if .defaults.packageManager.mise.install -}}
{{- $version := .defaults.packageManager.mise.version -}}
{{- $sha512 := .defaults.packageManager.mise.sha512 -}}
{{- $arch := "amd64" | eq .chezmoi.arch | ternary "x64" .chezmoi.arch -}}
{{- $os := "darwin" | eq .chezmoi.os | ternary "macos" .chezmoi.os }}
{{ joinPath $localInstallBin "mise" | quote }}:
  type: file
  url: {{ gitHubReleaseAssetURL "jdx/mise" $version (printf "mise-*-%s-%s" $os $arch)  }}
  executable: true
  "checksum.sha512": {{ $sha512 }}
{{- end -}}
