{{ if "windows" | eq .chezmoi.os -}}
{{ joinPath "AppData" "Local" "Microsoft" "Windows Terminal" "Fragments" "nord" "nord.json" | quote }}:
  type: file
  url: https://raw.githubusercontent.com/thismat/nord-windows-terminal/main/nord.json
  refreshPeriod: "168h"
{{- end }}

{{ joinPath .paths.relative.configHome "dircolors" "nord" | quote }}:
  type: file
  url: https://raw.githubusercontent.com/nordtheme/dircolors/develop/src/dir_colors
  refreshPeriod: "168h"

{{ joinPath .paths.relative.localInstall "k9s" | quote }}:
  type: archive
  url: {{ (gitHubLatestRelease "derailed/k9s").TarballURL }}
  stripComponents: 1
  include:
    - "*/skins/*"

{{ joinPath .paths.relative.configHome "nushell" "lib" "config" "theme" "nord.nu" | quote }}:
  type: file
  url: https://raw.githubusercontent.com/nushell/nu_scripts/main/themes/nu-themes/nord.nu
  refreshPeriod: "168h"
