{{- $posh_ext := eq .chezmoi.os "windows" | ternary ".exe" "" }}
{{- $posh_filename := list "oh-my-posh" $posh_ext | join "" }}
{{- $posh_version := "latest" }}
{{- $posh_url_base := "https://github.com/JanDeDobbeleer/oh-my-posh/releases" }}
{{- $posh_url_path := eq $posh_version "latest"
                      | ternary
                        "latest/download"
                        ((list "download/v" $posh_version) | join "")
-}}
{{- $posh_url_filename := (list "posh-" .chezmoi.os "-" .chezmoi.arch $posh_ext) | join "" }}
{{ list (joinPath .paths.relative.localInstallBin "oh-my-posh") $posh_ext | join "" | quote }}:
  type: file
  url: "{{ $posh_url_base }}/{{ $posh_url_path }}/{{ $posh_url_filename }}"
  executable: true
  refreshPeriod: "168h"
{{ joinPath .paths.relative.localInstall "oh-my-posh" "themes" | quote }}:
  type: archive
  url: "{{ $posh_url_base }}/{{ $posh_url_path }}/themes.zip"
  refreshPeriod: "168h"

