{{- $localInstall := includeTemplate "path" (dict "path" "localInstall" "relative" true "chezmoi" .chezmoi) -}}
{{- $zshPlugins := includeTemplate "path" (dict "path" "zshPlugins" "relative" true "chezmoi" .chezmoi) -}}
{{- if ne "windows" .chezmoi.os }}
{{ joinPath $localInstall "oh-my-zsh" | quote }}:
  url: "https://github.com/ohmyzsh/ohmyzsh"
  type: git-repo
  refreshPeriod: "168h"
{{-   range .zsh.externalPlugins }}
{{ joinPath $zshPlugins .name | quote }}:
  type: git-repo
  url: {{ .url | quote }}
  refreshPeriod: "168h"
{{-   end }}
{{- end }}
