{{- $posh_ext := eq .chezmoi.os "windows" | ternary ".exe" "" }}
{{- $posh_filename := printf "oh-my-posh%s" $posh_ext }}
{{- $pattern := printf "posh-%s-%s%s" .chezmoi.os .chezmoi.arch $posh_ext }}
{{ list (joinPath .paths.relative.localInstallBin "oh-my-posh") $posh_ext | join "" | quote }}:
  type: file
  url: {{ gitHubLatestReleaseAssetURL "JanDeDobbeleer/oh-my-posh" $pattern }}
  executable: true
  refreshPeriod: "168h"
{{ joinPath .paths.relative.localInstall "oh-my-posh" "themes" | quote }}:
  type: archive
  url: {{ gitHubLatestReleaseAssetURL "JanDeDobbeleer/oh-my-posh" "themes.zip" }}
  refreshPeriod: "168h"

