{{- $configHome := includeTemplate "path" (dict "path" "configHome" "relative" true "chezmoi" .chezmoi) -}}
{{- $tokyonight := includeTemplate "path" (dict "path" "tokyonight" "relative" true "chezmoi" .chezmoi) -}}
{{ $tokyonight | quote }}:
  type: archive
  url: {{ (gitHubLatestRelease "folke/tokyonight.nvim").TarballURL }}
  stripComponents: 1


{{ joinPath $configHome "nushell" "scripts" "_lib" "tokyonight-night.nu" | quote }}:
  type: file
  url: https://raw.githubusercontent.com/nushell/nu_scripts/main/themes/nu-themes/tokyo-night.nu
  refreshPeriod: "168h"

