{{- $release := gitHubLatestRelease "wez/wezterm" }}
.terminfo:
  type: archive
  url: {{ $release.TarballURL }}
  stripComponents: 3
  include:
    - "*/termwiz/data/wezterm.terminfo"
  refreshPeriod: "168h"

