live_config_reload: true

font:
  size: {{ .font.size }}
  normal:
    family: {{ .font.family | quote }}

key_bindings:
  - key: L
    mods: Control
    action: ReceiveChar
  - key: L
    mods: Alt
    action: ClearLogNotice
  - key: Return
    mods: Alt
    action: ToggleFullScreen
