{{- $config := includeTemplate "config" . | fromJson -}}
[general]
working_directory = "{{ .chezmoi.homeDir }}"

import = [ "~/.config/alacritty/themes/{{ $config.theme }}.toml" ]

[font]
size = {{ $config.font.size }}

[font.normal]
family = {{ $config.font.family | quote }}
