{{- $config := includeTemplate "config" . | fromJson -}}
{{- $themes := dict
  "nord" (joinPath .chezmoi.os .path.configHome "alacritty" "themes" "nord.toml")
  "tokyonight-night" (joinPath .chezmoi.homeDir .path.tokyonight "extras" "alacritty" "tokyonight_night.toml")
  "catppuccin-mocha" (joinPath .chezmoi.homeDir .path.catppuccin "alacritty" "catppuccin-mocha.toml")
-}}
[general]
working_directory = "{{ .chezmoi.homeDir }}"

import = [ "{{ $config.theme | get $themes }}" ]

[font]
size = {{ $config.font.size }}

[font.normal]
family = {{ $config.font.family | quote }}
