chezmoi:template:missing-key=zero

function Script:Prepend-Environment(
      [string]$name,
      [string[]]$values)
{
    $original=Get-Content Env:\$name
    $originalNormalized=@()
    foreach ($p in $original -split ";") {
        $originalNormalized += $p.ToUpper() -replace "/","\"
    }

    $prepend=""
    foreach ($p in $values) {
        if ($originalNormalized -notcontains ($p.ToUpper() -replace "/","\")) {
            $prepend += "$p;"
        }
    }

    if ($prepend) {
        Set-Content Env:\$name "$prepend$original"
    }
}

{{- range $i, $e := (includeTemplate "environment" .) | fromYaml }}
{{-   if true }}
{{-     if not .name }}
{{-       fail (list "environment[" $i "] is missing required key `name`." | join "") }}
{{-     end }}

{{-     if eq "set" (.action | default "set") }}
$env:{{ .name }}="{{ .value | replace "$" "$env:" | replace "$env:HOME" "$HOME" }}"
{{-     else if eq "unset" .action }}
Remove-Item Env:\{{ .name }} 2>&1 | Out-Null
{{-     else if eq "prepend" .action }}
{{-       $valueList := .value | kindIs "slice" | ternary .value (list .value) | reverse }}
Prepend-Environment "{{ $e.name }}" "{{$valueList | first }}"{{ range $valueList | rest}},"{{ . }}"{{ end }}
{{-     end }}
{{-   end }}
{{- end }}
