{{- $cacheHome := includeTemplate "path" (dict "path" "cacheHome" "chezmoi" .chezmoi) -}}
{{- $localInstallBin := includeTemplate "path" (dict "path" "localInstallBin" "chezmoi" .chezmoi) -}}
function Upgrade-Chezmoi {
    $local:last_chezmoi_upgrade="{{ $cacheHome }}/dotfiles/last-chezmoi-upgrade"
    $local:yesterday = ((Get-Date).Date - (New-TimeSpan -Days 1))

    if (! (Test-Path $last_chezmoi_upgrade -NewerThan $yesterday)) {
        & {{ joinPath $localInstallBin "chezmoi.exe" | quote }} upgrade `
         && New-Item -Force -Type Directory -Path (Split-Path $last_chezmoi_upgrade) | Out-Null `
         && Set-Content -Force -Path $last_chezmoi_upgrade -Value ""
    }
}

Upgrade-Chezmoi
