chezmoi:template:missing-key=zero
{{- template "set-environment" (dict
        "environment" .environment
        "command" (dict
            "unset" "Remove-Item -ErrorAction Ignore env:{NAME}"
            "set" "$env:{NAME} = \"{VALUE}\""
            "prepend" "if (\"$env:{NAME}\" -NotLike '*{VALUE}*') { $env:{NAME} = \"{VALUE};$env:{NAME}\" }"
        )
    )
-}}
{{ "" }}
$config_dir = "$HOME/.config/powershell"

$paths="profile.d","completion.d"

foreach ($path in $paths) {
    if (Test-Path -Type Container "$config_dir/$path") {
        foreach ($script in Get-ChildItem "$config_dir/$path" -Filter '*.ps1') {
            . $script
        }
    }
}

