export def main [] {
    let last_chezmoi_upgrade = ('{{ joinPath .chezmoi.homeDir .path.cacheHome }}' | path join dotfiles last-chezmoi-upgrade)

    let need_update = (if ($last_chezmoi_upgrade | path exists) { ((date now) - (ls $last_chezmoi_upgrade | first).modified) > 1day } else { true }) 

    if $need_update {
        chezmoi upgrade
        mkdir ($last_chezmoi_upgrade | path dirname)
        touch $last_chezmoi_upgrade
    }
}
