chezmoi:template:missing-key=zero
function __chris468_load_completion {
  local fn
  fn="__chris468_complete_$1"
  if command -v "$fn" &> /dev/null
  then
    "$fn" &> /dev/null && return 124
  fi
}

{{- $software := (includeTemplate "software" .) | fromYaml -}}
{{- range $name, $t := $software }}
{{-   $tool := $t | default (dict) }}
{{-   if and (ne nil $tool.completion) (or (not $tool.group) (index $ $tool.group)) }}
{{-     $completions := kindIs "slice" $tool.completion | ternary $tool.completion (list $tool.completion) }}

# Completions for {{ $name }}
{{-     range $completions }}
{{-       $binary := .binary | default $name }}
{{-       $eval := or (eq nil .eval) .eval }}
# Completion for {{ $binary }}
function __chris468_complete_{{ $binary }} {
  {{ if $eval }}eval "$({{ end }}{{ .command | replace "SHELL" "bash" }}{{ if $eval }})"{{ end }} && return 125
}
complete -o bashdefault -o default -F __chris468_complete_{{ $binary }} {{ $binary }}
{{ "" }}
{{-     end }}
{{-   end }}
{{- end }}
