chezmoi:template:missing-key=zero
function __chris468_load_completion {
  local fn
  fn="__chris468_complete_$1"
  if command -v "$fn" &> /dev/null
  then
    "$fn" &> /dev/null && return 124
  fi
}

{{- range $name, $tool := .tools }}
{{-   if and (ne nil .completion) (or (not .group) (index $ .group)) }}
{{-     $completions := kindIs "slice" .completion | ternary .completion (list .completion) }}

# Completions for {{ $name }}
{{-     range $completions }}
{{-       $binary := .binary | default $name }}
{{-       $eval := or (eq nil .eval) .eval }}
# Completion for {{ $binary }}
function __chris468_complete_{{ $binary }} {
  {{ if $eval }}eval "$({{ end }}{{ .command | replace "SHELL" "bash" }}{{ if $eval }})"{{ end }} && return 124
}
complete -o bashdefault -o default -F __chris468_complete_{{ $binary }} {{ $binary }}
{{ "" }}
{{-     end }}
{{-   end }}
{{- end }}
