{{- $configHome := includeTemplate "path" (dict "path" "configHome" "chezmoi" .chezmoi) -}}
{{ $nordToml := joinPath $configHome "alacritty" "themes" "nord.toml" -}}
{{- $nordYaml := joinPath $configHome "alacritty" "themes" "nord.yaml" -}}
{{- $nordTomlModDate := "modTime" | get (stat $nordToml | default dict) | default 0 -}}
{{- $nordYamlModDate := "modTime" | get (stat $nordYaml) -}}
{{- if lt $nordTomlModDate $nordYamlModDate -}}
{{-   $nord := include $nordYaml | fromYaml -}}
{{-   $colors := "colors" | get $nord | default dict -}}
{{-   $search := "search" | get $colors | default dict -}}
{{-   if "bar" | hasKey $search -}}
{{-    $colors := set $colors "footer_bar" ("bar" | get $search)  -}}
{{-    $colors := set $colors "search" (omit $search "bar") -}}
#!/usr/bin/env bash

cat >'{{ $nordToml }}' <<EOF
{{ $nord | toToml }}
EOF
{{-  end }}
{{- end -}}
