{{- if .config.packageManager.nix.enable -}}
#!/usr/bin/env bash

# default.nix hash: {{ include "private_dot_config/install/nix/default.nix" | sha256sum }}
{{ joinPath .paths.localInstallBin "install-nix" }}
{{- end -}}
