{{- $config := includeTemplate "config" . | fromJson -}}
export-env {
    use _config *

    $env.config = {
        cursor_shape: {
            vi_insert: line
            vi_normal: block
        }

        edit_mode: vi

        hooks: {
            pre_prompt: []
            pre_execution: []
            env_change: {}
            display_output: "if (term size).columns >= 100 { table -e } else { table }"
            command_not_found: []
        }

        keybindings: [
            {
                name: fzf_history
                modifier: control
                keycode: char_r
                mode: [emacs, vi_normal, vi_insert]
                event: [
                    {
                        send: ExecuteHostCommand
                        cmd: "commandline edit (
                            history
                                | each { |it| $it.command }
                                | reverse
                                | uniq
                                | str join (char -i 0)
                                | fzf --read0 --layout=reverse --height=40% +s -q (commandline)
                                | decode utf-8
                                | str trim
                        )"
                    }
                ]
            }
        ]
        show_banner: false
    }

    prompt setup
{{ if $config.packageManager.mise.enable }}
    use _lib/mise.nu
{{- end }}
{{- $theme := dict
  "catppuccin-mocha" "catppuccin-mocha.nu"
  "nord" "nord.nu"
  "tokyonight-night" "tokyo-night.nu"
}}
    use nu-themes/{{ $config.theme | get $theme }}
    hook-fix-env-path
    hook-update-tmux-environment

    upgrade-chezmoi
    init-carapace
}

export use _config nvim-flavors *

# uses aliases so it must be sourced directly at the top-level
# configuration in env.nu generates an appropriate file even if zoxide is not installed
source "~/.config/nushell/scripts/_lib/.zoxide.nu"
