{{- $config := includeTemplate "config" . | fromJson -}}
local os = require("os")
local env_profiles = os.getenv("CHRIS468_LAZYVIM_PROFILE")
local profiles

if env_profiles then
  profiles = {}
  for profile, _ in env_profiles:gmatch("[^:]+") do
    profiles[profile] = true
  end
else
  profiles = {
    base = true,
    work = {{ .config.work }},
  }
end

local lockfile
if profiles.work then
  lockfile = "lazy-lock.work.json"
else
  lockfile = "lazy-lock.base.json"
end

return {
  profiles = profiles,
  theme = "{{ $config.theme }}",
  lockfile = lockfile,
}
