{{- $config := includeTemplate "config" . | fromJson -}}
{{- if and $config.packageManager.mise.enable ("windows" | ne .chezmoi.os) -}}
if command -v mise >&/dev/null ; then
  eval "$(mise activate zsh)"
fi
{{- end -}}
